<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
   
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form>
            <input type="text" placeholder="Type an address">
            <button>Search</button>
        </form>


    </div>

    <p id="error"></p>
    <p id="message"></p>

    {{>footer}}

     <script src="/js/app.js"></script>
</body>

</html>